:root {
    --primary_color: #002E5D;
    --secondary_color: #fafafa;
    --tertiary_color: #3d8bad;
    --accent_color: SeaGreen;
    --clash_color: #ed8e00;
    --text_color: Black;
    --subtle_text_color: #303030;
    --subtle_background_color: #f5f8fc;
  }

body {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    /* padding: calc(8px + 1.5625vw); */
    padding-top: 0px;
    /* max-width: 1040px; */
    font-family: STIX Two Text, serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    /* background-color: var(--secondary_color) */
    background-color: var(--subtle_background_color);
}
.content {
  background: white;
  max-width: 900px;  /* adjust to taste */
  margin: 2rem auto; /* center it */
  margin-top: 0; 
  padding: 2rem;
  border-radius: 8px; /* optional, looks nice */
  box-shadow: 0 2px 6px rgba(0,0,0,0.08); /* subtle elevation */
}

button:hover {
    cursor: pointer;
    color: var(--tertiary_color);
}
a {
    color: var(--accent_color);
    text-decoration: none;
}
a:hover {
    color: var(--tertiary_color);
    cursor: pointer;
}

/* Formatting */
h1 {
    color: var(--text_color);
    font-size: 28px;
    color: var(--primary_color);
    font-weight: bold;
}
h2 {
    margin-top: 16px;
    margin-bottom: 0px;
    color: var(--primary_color);
    font-size: 22px;
    font-weight: bold;
}
h3 {
    margin-top: 12px;
    margin-bottom: 0px;
    color: var(--text_color);
    font-size: 18px;
    font-weight: bold;
}

/* Navigation */

.topnav {
  overflow: hidden;
  background-color: var(--primary_color);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  padding-left: 12pt;
  padding-right: 6pt;
}

.topnav a {
    display: flex;
    float: right;
    color: var(--secondary_color);
    align-items: flex-end;
    text-decoration: none;
    padding: 10px 16px 8px;
    font-size: 17px;
    font-weight: bold;
}

.topnav .home {
    float: left;
    font-size: 32px;
    padding-bottom: 2pt;
}

.topnav .menuitems {
    display: flex;
}
.topnav .menuitems a:hover {
    background-color: var(--secondary_color);
    color: var(--primary_color);
}

.topnav .icon {
    display: none;
}
.topnav .icon:hover {
    background-color: var(--primary_color);
    color: var(--clash_color);
}

@media screen and (max-width: 850px) {
  .topnav a:not(.home) {display: none;}
  .topnav a.icon {
    display: flex;
  }

  /* Responsive Class (Vertical Menu Mode) */
  .topnav.responsive {
    position: relative;
    flex-direction: column;
  }
  .topnav.responsive .menuitems {
    flex-direction: column;
  }
  .topnav.responsive a {
    display: flex;
    text-align: left;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0pt;
    top: 18px;
  }
}

/* Quick Links */
ul.qlnk {
    display: flex;
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    justify-content: center;
}

li.qlnk {
    float: left;
}

li.qlnk a {
    color: var(--primary_color);
    display: block;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: calc(8px + 1.5625vw);
}

li.qlnk a:hover {
    color: var(--tertiary_color);
}

/* Projects*/
li.prj {
    margin-top: 12px;
    margin-bottom: 0px;
    color: var(--primary_color);
    font-weight: bold;
}
p.prj {
    margin-top: 0px;
}
p.sub {
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
}
.label {
    color: var(--secondary_color);
    margin: 4px 8px;
    padding: 3px 2px;
    background-color: var(--clash_color);
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
}
.inline-icon {
    height: 20px;
    vertical-align: middle;
    padding-bottom: 4px;
}
img.prj {
    height: 225px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Toggle features */
.toggleButton {
    margin: 0pt 8pt 0pt 0pt;
    padding: 0pt;
    border: none;
    font-family: 'Helvetica', 'sans-serif';
    background-color: transparent;
    font-size: 12pt;
    font-weight: bold;
    color: var(--accent_color);
}
.toggleDiv {
    display: none;
}
div.bibtex {
    font-family:'Monaco', Courier, monospace;
    color: var(--subtle_text_color);
    font-size: 10pt;
    background-color: var(--subtle_background_color);
    padding: 10pt;
    margin: 10pt 0pt;
}
div.abstract {
    margin: 10pt 0pt;
    font-size: 11pt;
}
